@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: grey;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #63a0dd;
  border-bottom: 1px solid #ddd;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #468fd9;
  border-top: 1px solid #ddd;
}

.property-card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  background-color: #ededed;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content:space-between;
}

.property-card img {
  width: 20%;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.product-card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem 0;
  color:'black';
  border-radius: 8px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}



/* styles/globals.css */
.home-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.overview {
  text-align: center;
  margin-bottom: 40px;
}

.overview h1 {
  font-size: 2rem;
  color: #333;
}

.overview p {
  font-size: 1rem;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
}

.explore-btn {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.explore-btn:hover {
  background-color: #0056b3;
}

.featured-properties {
  margin-top: 60px;
  text-align: center;
}

.featured-properties h2 {
  font-size: 1.5rem;
  color: #333;
}

.property-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

/* .property-card {
  width: 200px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.property-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.property-card h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10px;
}

.property-card p {
  font-size: 1rem;
  color: #555;
} */
